:root {
    /*color constants*/
    /*light theme*/
    --color-light-primary: #78C1F3;
    --color-light-secondary: #9BE8D8;
    --color-light-tertiary: #E2F6CA;
    --color-light-quaternary: #F8FDCF;
    --color-light-text: #302f2f;
    /*Dark theme*/
    --color-dark-primary: #352F44;
    --color-dark-secondary: #5C5470;
    --color-dark-tertiary: #B9B4C7;
    --color-dark-quaternary: #FAF0E6;
    --color-dark-text: #d0d0d0;

    /*font constants*/
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Roboto Slab', serif;
    /*...*/
}

body {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    color: var(--color-light-text);
    background-color: var(--color-light-secondary);
}
div {
    /* Endrer kalkulering av bredde og høyde på elementer for å fikse visning. */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.dark-Mode {
    color: var(--color-dark-text);
    background-color: var(--color-dark-secondary);
}
#Main_content {
    margin-top: 6rem;
}

#front_card {
    max-width: 400px;
    margin: 2rem auto 1em auto;
    background-color: #fff;
    font-family: sans-serif;
    box-shadow: 0 5px 10px #555;
    padding: 16px 16px 32px;
    border-radius: 5px;
}

.input_container {
    margin-bottom: 0.8rem;
}

.input_container>label {
    margin-bottom: 10px
}

.input_container>input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;

}

.input_button {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    background-color: var(--color-light-primary);
    /* background-color: #4c04aa; */
    border-radius: 5rem;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 2rem;
    width: 100%;
    cursor: pointer;
}

.error {
    margin-top: 0.2rem;
    color: #ff0000;
}

.banner_error {
    background-color: #fdd;
    color: #cc0000;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 5px;
    border-radius: 5px;
}


/*==== Debug ====*/
.values-grid {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: repeat(5, 1fr);
    justify-items: start;
    column-gap: 5px;
}

.debug {
    background-color: #ddd;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}