.logo {
    display: flex;
    align-items: center;
}

.booking_info_label {
    color: #6e7b89;
    font-size: 0.8rem;
}

.booking_available {
    /*background-color: lightgreen;*/
    /*background-color: #74e474;*/
    background: rgb(255,255,255);
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(25,160,25,1) 115%);*/
    /*background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(13,110,253,0.56) 85%, rgba(13,110,253,0.56) 100%);*/
}


.booking_unavailable {
    background-color: #e7e7e7;
}

.font_color_grey {
    color: #6e7b89;
}

.font_color_wite {
    color: #6e7b89;
    /*color: #fff;*/
}

.date_bg {
    background-color: rgba(13,110,253,0.15);
    /*background-color: #e5e5ee;*/
}

form#Search {
    display: flex;
    gap: 0.5rem;
}
